@font-face {
 font-family: "SpaceGrotesk";
 src: url("/fonts/SpaceGrotesk/spacegrotesk.woff");
 font-style: normal;
 font-weight: 400;
 font-display: swap;
}
@font-face {
 font-family: "SpaceGrotesk Bold";
 src: url("/fonts/SpaceGrotesk/spacegrotesk.woff");
 font-style: medium;
 font-weight: 700;
 font-display: swap;
}


@font-face {
 font-family: "SpaceGrotesk Light";
 src: url("/fonts/SpaceGrotesk/spacegrotesk.woff");
 font-style: thin;
 font-weight: 100;
 font-display: swap;
}
