@font-face {
 font-family: "JetBrains";
 src: url("/fonts/JetBrains/JetBrainsMono-Regular.woff");
 font-style: normal;
 font-weight: 400;
 font-display: swap;
}
@font-face {
 font-family: "JetBrains Bold";
 src: url("/fonts/JetBrains/JetBrainsMono-Regular.woff");
 font-style: medium;
 font-weight: 700;
 font-display: swap;
}


@font-face {
 font-family: "JetBrains Light";
 src: url("/fonts/JetBrains/JetBrainsMono-Regular.woff");
 font-style: thin;
 font-weight: 100;
 font-display: swap;
}
